.button {
    color: white;
    background-color: #607dff;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin-top: 18px;
    cursor: pointer;
    box-shadow: 0 0 0px 0px royalblue;
    transition: all .2s linear;
    min-width: 100px;
}

.button:hover {
    box-shadow: 0 0 5px 0px royalblue;
}