header {
    background: linear-gradient(106.85deg, #009FA3 3.96%, #607dff 96.25%);
    padding: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: sticky;
    top: 0;
    color: white;
}

#header-main {
    display: flex;
    gap: 4px;
    align-items: center;
}

#header-main div {
    display: flex;
    flex-direction: column;
}

#header-main img {
    filter: invert(1);
}

#header-secondary {
    display: flex;
    gap: 18px;
}

nav {
    display: flex;
    gap: 10px;
}

nav>span {
    cursor: pointer;
}

h3,
h5 {
    margin: 0;
}

h5 {
    color: lightcyan
}