body {
    background: linear-gradient(106.85deg, #e0e8e8 3.96%, #cdd1df 96.25%);
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    align-items: center;
}

section {
    max-width: 1050px;
    width: 100%;
}

section > div{
    padding: 30px;
    background-color: white;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    justify-content: start;
}

section > h1 {
    padding: 10px 30px 10px 30px;
    background-color: white;
    color: grey;
    border-radius: 10px;
    margin-bottom: 10px;
    width: max-content;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.box-container {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.box-container > div, .box-container > a {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: all .3s;
    cursor: pointer;
}

.box-container > div:hover, .box-container>a:hover {
    transform: scale(1.05);
}

.box-container > div > img, .box-container>a>img {
    width: 100px;
}

.box-container>div>h2, .box-container>a>h2 {
    position: absolute;
    bottom: 0px;
}

a {
    color: black;
    text-decoration-line: none;
}